---
import Layout from '../../layouts/Layout.astro';
import {PlayOptions} from '@/components/PlayOptions/PlayOptions'
import { allPlaylists, songs } from '@/lib/data';
import { ListMusicTable } from '@/components/ListMusicTable/ListMusicTable'

import styles from './styles.module.css'

const {id} = Astro.params
const playlist = allPlaylists.find(playlist => playlist.id === id)
const playlistSongs = songs.filter(song => song.albumId === playlist?.albumId)
---

<Layout title="Clonify">
  <section
    id="playlist-container"
    style=`background: ${playlist?.color?.accent}`
    class={styles.playlist_container}
    transition:name=`playlist ${id} box`
  >

    <div class={styles.playlist_info}>
      <button class={styles.picture_btn}>
        <picture class="album-cover">
          <img
            src={playlist?.cover}
            alt={`Cover of ${playlist?.title}`}
            transition:name=`playlist ${playlist?.id} image`
          />
        </picture>
      </button>
      <div class={styles.text_playlist}>
        <span>Playlist</span>
        <h4
          transition:name=`playlist ${playlist?.title} title`
        >
          {playlist?.title}
        </h4>
        <span>{playlist?.artists}</span>
        <picture>
          <img>
          <span>User</span>
          <span>years</span>
          <span>songs</span>
          <span>time</span>
        </picture>
      </div>
    </div>

    <div>
      <!-- <PlayOptions client:load /> -->
      <ListMusicTable client:load songs={playlistSongs} />
    </div>

    <div class="relative z-10  py-6">
      <!-- Greetings -->
    </div>

    <div class="absolute inset-0 bg-gradient-to-t from-zinc-900 via-zinc-900/80 -z-10"></div>

  </section>
</Layout>

<!-- <style>
  .playlist-info {
    height: 30vh;
    max-height: 40rem;
    display: flex;
    width: 100%;
    color: #FFF;
    padding: 2rem;
    gap: 2rem;
    padding-top: none;
  }
  .img-btn {
    border: 2px solid red;
    width: clamp(200px, 2vw, 800px);
    height: clamp(200px, 2vw, 800px);
    /* width: clamp(2rem,2rem + (100vw - var(399px,0px) - var(420px,0px) - 600px)/424*104,232px) */
  }
  .playlist-info .img-btn  picture {
    height: 100%;
  }
  .playlist-info .img-btn  picture img {
    object-fit: contain;
    border-radius: .4rem;
    height: 100%
  }
  .playlist-info .info {
    font-size: clamp(1rem, 5vw, 1.2rem);
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
  .playlist-info .info h4 {
    font-size: clamp(1.4rem, 5vw, 4.5rem);
    margin: -1rem 0;
  }
</style> -->
