---
import { colors } from "@/lib/colors";
import type { Playlist } from "@/lib/data";

import PlayingIcon from '@/icons/PlayingAlbum.astro'

interface Props {
  playlist: Playlist;
}

const { playlist } = Astro.props
const {id, cover, title, artists, color} = playlist

const artistString = artists.join(", ")
---

<a class="playlist-item flex relative items-center rounded-md" href="">
  <picture class="h-12 w-12 flex-none album-cover">
    <img src={cover} alt={`Cover of ${title} by ${artistString}`} class="object-cover w-full h-full rounded-md"/>
  </picture>
  <div class="album-info truncate">
    <div class="album-title truncate">
      <h4 class="truncate">{title}</h4>
      <span>{artistString}</span>
    </div>
    <span><PlayingIcon/></span>
  </div>
</a>

<style>
  .playlist-item {
    display: flex;
    height: 6.4rem;
    gap: 1rem;
    padding: .8rem;
    transition: .3s al ease;
    max-width: 33rem;
  }
  .playlist-item:hover {
    background: #27272a;
  }
  .album-cover {
    height: 4.8rem;
    width: 4.8rem;
  }
  .album-info {
    display: flex;
    color: #FFF;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3rem;
    width: 100%;
    gap: 1rem;
  }
  .album-title h4 {
    overflow: hidden;
  }
  .album-info .album-title span {
    font-size: 1rem;
    opacity: .6;
  }
</style>
<style is:global>
  .playlist-item span svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: #1ED760;
  }
</style>
